__pycache__/
.vscode/
build_gtsam/*
# submodules/*  # Commented out to allow submodules
ckpts/*
output/*
logs/

# Local datasets and external checkouts
/data/
/rail_dataset/
/DROID-SLAM/
/gtsam/
/lietorch/
