# 2DGS
ffmpeg
pillow==10.2.0
open3d==0.18.0
mediapy==1.1.2
lpips==0.1.4
scikit-image==0.21.0
pandas
pyarrow
tqdm==4.66.2
trimesh==4.3.2
plyfile
opencv-python
open3d
icecream
# Metric3D
numpy
colored_glog
Pillow
DateTime
matplotlib
plyfile
HTML4Vision==0.4.3
timm==0.6.7
imgaug
iopath
# mmcv==1.7.2
mmengine==0.10.5
triton==2.0.0
wandb
# submodules/diff-surfel-rasterization
# LightGlue
kornia==0.7.3
kornia-moons==0.2.9
onnx==1.16.1
# onnxruntime-gpu==1.18.1
psutil